<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--https://stackoverflow.com/questions/11338774/serialize-form-data-to-json-->
<script>

function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}
    
    $(document).ready(function(){
        // create address
        $("#submit").on('click', function(){
            var $form = $("#form");
            var data = getFormData($form);
                        
            // send ajax
            $.ajax({
                url: '/kunden/template/adresse', // url where to submit the request
                type : "POST", // type of action POST || GET
                dataType : 'json', // data type
                data : JSON.stringify({
                    plz:data.plz,
                    strasse:data.strasse,
                    hausnr:data.hausnr,
                    ort:data.ort        
                }) , // post data || get data
                contentType: 'application/json'
            })
            $.ajax({
                url: "",
                context: document.body,
                success: function(s,x){
                $(this).html(s);
                }
            });
        });
        // delete address
        $("#delete").on('click', function(){
            var $form = $("#form");
            var data = getFormData($form);
                        
            // send ajax
            $.ajax({
                url: '/kunden/template/adresse/delete', // url where to submit the request
                type : "POST", // type of action POST || GET
                
            })
            $.ajax({
                url: "",
                context: document.body,
                success: function(s,x){
                $(this).html(s);
                }
            });
        });
        // update address
        $("#update").on('click', function(){
            var $form = $("#form");
            var data = getFormData($form);
                        
            // send ajax
            $.ajax({
                url: '/kunden/template/adresse/update', // url where to submit the request
                type : "POST", // type of action POST || GET
                dataType : 'json', // data type
                data : JSON.stringify({
                    plz:data.plz,
                    strasse:data.strasse,
                    hausnr:data.hausnr,
                    ort:data.ort        
                }) , // post data || get data
                contentType: 'application/json'
            })
            $.ajax({
                url: "",
                context: document.body,
                success: function(s,x){
                $(this).html(s);
                }
            });
        });
    });
    
</script>
<title>{kunde.nachname}</title> 
</head>
<body>
    <input type="button" 
            onclick="location.href='/kunden/template';" 
            value="Go to account" />
    <h1>{kunde.nachname}</h1>
    {#if kunde.adresse}
        <h3>Adresse: </h3>
        <p>Ort: {kunde.adresse.ort}</p>
        <p>Plz: {kunde.adresse.plz}</p>
        <p>Strasse: {kunde.adresse.strasse}</p>
        <p>Hausnummer: {kunde.adresse.hausnr}</p>

        <button id="delete" type="button">Delete</button>

        <form id="form" >
            <label for="plz">Plz: </label><br /><input type="text" name="plz"
                required /> <br />
            <label for="ort">Ort: </label><br /><input type="text" name="ort"
                required /> <br />
            <label for="strasse">Strasse: </label><br /><input type="text" name="strasse"
                required /> <br />
            <label for="hausnr">Hausnummer: </label><br /><input type="text" name="hausnr"
                required /> <br />
            <input id="update" type="button" value="Update address" />
        </form> 
    {#else}
        <form id="form" >
            <label for="plz">Plz: </label><br /><input type="text" name="plz"
                required /> <br />
            <label for="ort">Ort: </label><br /><input type="text" name="ort"
                required /> <br />
            <label for="strasse">Strasse: </label><br /><input type="text" name="strasse"
                required /> <br />
            <label for="hausnr">Hausnummer: </label><br /><input type="text" name="hausnr"
                required /> <br />
            <input id="submit" type="button" value="Create address" />
        </form>
    {/if}
    
    
    
</body>
</html>